body {
    background-color: lightblue;
}
.grid-container {
    display: grid;
    grid-template-rows: ;
    padding: 1%;
    
    
}
.gridbox-item {
    margin: 1%;
    padding: 2%;
    border: 3px solid#333;
    border-radius: 10px;
    background-color: #dfdfdf;
    text-align: center;
    color: white;
    /* align-items: center;
    justify-self: center;
    place-content: center; */
    font-size: 1em;
}
.gridbox-header {
    background-color: purple;
}
.gridbox-aside {
    background-color: rgb(77, 141, 236);
}
.gridbox-columns {
    display: grid;
    background-color: green;
    grid-template-rows: 1fr 1fr 1fr;

    
}
.gridbox-column {
    background-color: red;
}
.gridbox-aside2 {
    background-color: lightgray;
}
.gridbox-footer {
    background-color: orange;
}

@media (min-width: 768px) {
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin: 1%;
        
    }
    .gridbox-columns {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        
        
               
    }
    .gridbox-column {
        align-content: center;
    }
    .gridbox-aside {
        align-content: center;
    }
    .gridbox-aside2 {
        align-content: center;  
    }
}